<footer id="pandemic-response-repository-footer" class="site-footer">
	<div class="usa-grid">
		<p>
			The Pandemic Response Repository is a collection of Covid-19 related
			open source digital resources compiled by
			<a href="https://www.newamerica.org/">New America</a>.
		</p>
		<p>
			Please <a href="#">contact us</a> if you are a nonprofit or
			government agency in need technical assistance to adapt or customize
			these resources.
		</p>
		<p>
			To share your feedback with us, tweet us at
			<a href="https://twitter.com/DIGI_NewAmerica">@DIGI_NewAmerica</a>
			or open an issue or pull request on our
			<a
				href="https://github.com/newamericafoundation/pandemic-response-repository"
				>GitHub repository.</a
			>
			New America has not undertaken independent code review of projects
			listed in this resource.
		</p>
	</div>
</footer>

<!--<script src="{{site.baseurl}}/assets/js/site.js"/>-->
