<div class="usa-overlay"></div>
<footer class="site-footer no-print">
    <div class="usa-grid">
        <p>This project is maintained by <a href="https://www.newamerica.org/">New America</a>. To share your feedback with us, tweet us at <a href="https://twitter.com/DIGI_NewAmerica">@DIGI_NewAmerica</a> or open an issue or pull request on our <a href="https://github.com/newamericafoundation/open-covid">GitHub repository.</a> New America has not undertaken independent code review of projects listed in this resource.</p>
    </div>
</footer>

<!--<script src="{{site.baseurl}}/assets/js/site.js"/>-->
