
<a class="usa-skipnav" href="#main">Skip to main content</a>

<header role="banner" class="banner">
<div class="usa-header usa-header-extended">
<div class="usa-navbar">
  <button class="usa-menu-btn">Menu</button>
  <div class="usa-logo" id="logo">
    <em class="usa-logo-text">
      <a href="{{site.baseurl}}/" accesskey="1" title="Home" aria-label="Home">  <img src="{{site.baseurl}}/images/NA-logo-black.svg" width="200"> Open COVID</a>
    </em>
  </div>
</div>
</div>
</header>
<div class="usa-header usa-header-extended sticky">
<nav role="navigation" class="usa-nav">
  <div class="usa-nav-inner">

        <button class="usa-nav-close">
          <img src="{{site.baseurl}}/images/uswds-0.14.0/close.svg" alt="close">
        </button>
        
        <div class="usa-nav-secondary">
         <ul class="usa-unstyled-list usa-nav-secondary-links">
           <li>
               <a href="{{site.baseurl}}/about">About</a>
           </li>
         </ul>
       </div>
  </div>
</nav>
</div>
