.open-covid-listing ul {
	padding: 0;
	list-style-type: none;
}

.layout--card .method {
	margin: 0 0 2em 0;
}

.layout--page main {
	max-width: 1024px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 60px 25% 60px 15px;
}

.layout--page.layout--open-covid main {
	padding: 0;
	max-width: none;
}

@media screen and (max-width: 853.33px) {
	.layout--page main {
		padding: 40px 15px;
	}
}

.hero-container {
	background-color: $color-black;
	padding: $h2-font-size 0;
}

//Project Styles
.project {
	.project--source-link {
		margin-bottom: $h2-font-size;
		text-decoration: underline $color-teal;
		text-decoration-skip-ink: auto;
		transition: all 0.2s ease-in;
		font-weight: 300;
		&:hover {
			color: $color-black;
			text-decoration: underline rgba(255, 255, 255, 0);
		}
	}
	.project--label {
		font-family: $font-sans;
		font-size: $tiny-font-size;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
		display: block;
		line-height: $base-font-size;
	}
}
