.pandemic-response-repository-listing ul {
	padding: 0;
	list-style-type: none;
}

.layout--card .method {
	margin: 0 0 2em 0;
}

.layout--page main {
	max-width: 1024px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 60px 25% 60px 15px;
}

.layout--page.layout--pandemic-response-repository main {
	padding: 0;
	max-width: none;
}

@media screen and (max-width: 853.33px) {
	.layout--page main {
		padding: 40px 15px;
	}
}

//Index Styles
.hero-container {
	padding-top: $h1-font-size;
}

.table-container {
	overflow-x: scroll;
}

//Overwriting USWDS Buttons
input[type="submit"] {
	font-family: $font-sans;
	font-size: $tiny-font-size;
	text-transform: uppercase;
	color: $color-black;
	background-color: $color-beige;
	border: 1px solid $color-black;
	padding: $small-font-size;
	height: auto;
	transition: all 0.15s ease-out;
	&:hover {
		color: white;
		background-color: $color-black;
		border-bottom: 1px solid $color-black;
	}
	&.usa-button-active {
		color: white;
		background-color: $color-black;
		border-bottom: 1px solid $color-black;
	}
}

//Global styles
.tags{
	font-family: $font-sans;
	font-size: $tiny-font-size;

	h5{
		margin: 0;
		padding: 0 0 5px 0;
		font-weight: normal;
	}
	span{
		border: 1px solid #5b616b;
		background-color: #5b616b;
		border-radius: 2px;
		color: #ffffff;
		padding: 3px 6px;
		margin-right: 6px;
		margin-bottom: 6px;
		display: inline-block;;
	}

}
.topics{
	span{
		background-color: #ffffff;
		border-radius: 2px;
		color: #5b616b;
	}
}
.link{
	margin-bottom: 20px;

	h5{
		margin: 0;
		padding: 0 0 5px 0;
		font-weight: normal;
	}
	a {
		text-decoration: underline $color-teal;
		text-decoration-skip-ink: auto;
		transition: all 0.2s ease-in;
		font-weight: 300;
		&:hover {
			color: $color-black;
			text-decoration: underline rgba(255, 255, 255, 0);
		}
	}
}
.prr-button{

}
.prr-button-secondary{

}
//List Projects
.projects{
	.project-item{
		//border: 1px solid #ccc;
	  border-spacing: 0;
	  font-size: 15px;
		padding: 20px 0;
		width: 30%;
		margin: 10px;
		display: inline-block;
		vertical-align: top;

		@media screen and (max-width: 853.33px) {
			width: auto;
			display: block;
			margin: 10px 0;
		}
		.title {
			font-size: 1.5em;
			margin-bottom: 10px;
			display: block;;
		}
		.author{
			p{
				font-size: 1em;
			}
		}
		.project--detail{
			p{
				margin-bottom: 10px;
				line-height: 1.2em;
			}
			h5{
				font-weight: normal;
			}
		}
		.readmore{
			display: inline-block;
			font-weight: normal;
			font-size: 1.0em;
		}
		.summary{
			margin-bottom: 10px;
		}
		.tags{
			margin-bottom: 0;
			display: inline-block;
		}
		.topics{
			margin: 0;
			text-transform: uppercase;
		}
	}
}

//Project Styles
.project {
	.project--title {
		margin-bottom: 20px;
	}
	.topics{
		display: inline-block;
		vertical-align: top;
		margin-right: 20px;
	}
	.tags{
		display: inline-block;
	}
	.project--tags {
		margin-bottom: 20px;
	}
	.project--type {
		font-family: "Lyon", "Circular", "Times", serif;
		font-style: italic;
	}
	.project--summary{
		margin: 30px 0 20px;
	}

	.project--details {

		.project--detail {
			width: 49%;
			display: inline-block;
			margin-bottom: 20px;
			@media screen and (max-width: 853.33px) {
				width: auto;
				display: block;
			}
			h5{
				font-weight: normal;
				margin: 0;
			}
			p{
				font-family: $font-sans;
				padding: 0;
				margin: 0;
			}

		}
	}

	p a {
		font-weight: 300;
	}
}
