<!DOCTYPE html>
<html lang='en'>
  {% include head.html %}
  <body class="layout--card">
    {% include header.html %}
    <main id="main" role="main">
      <section class="category usa-section" id="">
        <header class="category--header">
          <div class="usa-grid">
            <h1 class="category--title">{{page.title}}</h1>
            <p class="category--subtitle">{{page.link-to-source}}</p>
          </div>
        </header>
        <div class="usa-grid">
          {% comment %} {% include method-print-header.html %} 
          {% include method.html %}{% endcomment %}
        </div>
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>